.container {
  @include outer-container;

  header {
    @include span-columns(12);
  }

  article {

    padding-top: 10%;

    h2 {
      padding-bottom: 1%;
      border-bottom: 1px solid #333;
      margin-bottom: 1%;
    }

    .book {
      @include span-columns(3);

      h3 {
        font-size: 1.2rem;
      }
    }
  }
}
